<%= form_with model:@interview, scope: :interview, local: true do |form| %>

<% if @interview.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(@interview.errors.count, "error") %> prohibited
        this interview from being saved:
    </h2>
    <ul>
        <% @interview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<p>
    <%= form.label :starttime %><br />
    <%= form.datetime_field :startTime %><br />
    <br />
    <%= form.label :endtime %><br />
    <%= form.datetime_field :endTime %><br/><br/>

    <%= form.label :participant1_id %><br />
    <%= form.collection_select(:participant1_id, @user, :id, :username) %><br/>

    <%= form.label :participant1_id %><br />
    <%= form.collection_select(:participant2_id, @user, :id, :username) %><br/>
</p>

<p>
    <%= form.submit %>
</p>
<% end %>
