<hr>
<p><strong>Start Time: </strong> <%= interview.id %></p>
<p><strong>Start Time: </strong> <%= interview.startTime %></p>
<p><strong>End Time: </strong><%= interview.endTime %></p>   
<p><%= link_to  "Send Reminder", interview_remind_path(interview) %></p>   

<table>
        <%= render partial: 'interviews/user', collection: interview.users %>
</table>

<p>
        <%= link_to  "show", interview_path(interview) %>
        <%= link_to  "edit", edit_interview_path(interview) %>
        <%= link_to  "delete", interview_path(interview) ,
                method: :delete,
                data: { confirm: 'Are you sure?' }  %>
</p>
